@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://p.typekit.net/p.css?s=1&k=oyq3azw&ht=tk&f=34862.34863.34866.34867&a=16670750&app=typekit&e=css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "SpoqaHanSansNeo", "돋움", Dotum, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  vertical-align: baseline;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

hr {
  display: none;
}

img {
  vertical-align: middle;
}

button {
  background-color: transparent;
  cursor: pointer;
}

b, strong {
  font-weight: 700;
}

fieldset, iframe {
  width: 100%;
}

img, a, frame, iframe, fieldset {
  border: 0;
}

a {
  text-decoration: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

caption {
  height: 0;
  font-size: 0;
  overflow: hidden;
}

/* Font Style */
/* 영문폰트 */
@font-face {
  font-family: "arboria";
  src: url("https://use.typekit.net/af/2ed003/00000000000000003b9b011c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"), url("https://use.typekit.net/af/2ed003/00000000000000003b9b011c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"), url("https://use.typekit.net/af/2ed003/00000000000000003b9b011c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}
@font-face {
  font-family: "arboria";
  src: url("https://use.typekit.net/af/f350ae/00000000000000003b9b011d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/f350ae/00000000000000003b9b011d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/f350ae/00000000000000003b9b011d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
@font-face {
  font-family: "arboria";
  src: url("https://use.typekit.net/af/7c0289/00000000000000003b9b0120/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/7c0289/00000000000000003b9b0120/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/7c0289/00000000000000003b9b0120/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}
@font-face {
  font-family: "arboria";
  src: url("https://use.typekit.net/af/1f8fa9/00000000000000003b9b0121/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"), url("https://use.typekit.net/af/1f8fa9/00000000000000003b9b0121/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"), url("https://use.typekit.net/af/1f8fa9/00000000000000003b9b0121/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
}
/* 한글폰트 */
@font-face {
  font-family: "SpoqaHanSansNeo";
  font-style: normal;
  font-weight: 300;
  src: url(../font/SpoqaHanSansNeo-Light.eot);
  src: url(../font/SpoqaHanSansNeo-Light.eot?#iefix) format("embedded-opentype"), url(../font/SpoqaHanSansNeo-Light.woff) format("woff"), url(../font/SpoqaHanSansNeo-Light.ttf) format("truetype");
}
@font-face {
  font-family: "SpoqaHanSansNeo";
  font-style: normal;
  font-weight: 400;
  src: url(../font/SpoqaHanSansNeo-Regular.eot);
  src: url(../font/SpoqaHanSansNeo-Regular.eot?#iefix) format("embedded-opentype"), url(../font/SpoqaHanSansNeo-Regular.woff) format("woff"), url(../font/SpoqaHanSansNeo-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "SpoqaHanSansNeo";
  font-style: normal;
  font-weight: 500;
  src: url(../font/SpoqaHanSansNeo-Medium.eot);
  src: url(../font/SpoqaHanSansNeo-Medium.eot?#iefix) format("embedded-opentype"), url(../font/SpoqaHanSansNeo-Medium.woff) format("woff"), url(../font/SpoqaHanSansNeo-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "SpoqaHanSansNeo";
  font-style: normal;
  font-weight: 700;
  src: url(../font/SpoqaHanSansNeo-Bold.eot);
  src: url(../font/SpoqaHanSansNeo-Bold.eot?#iefix) format("embedded-opentype"), url(../font/SpoqaHanSansNeo-Bold.woff) format("woff"), url(../font/SpoqaHanSansNeo-Bold.ttf) format("truetype");
}
.tk-arboria {
  font-family: "arboria", sans-serif;
}

/* variables */
/* Layout Style*/
/* UI Style(Button, Form, Dialogs */
.blind {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
}

.content, .topArea {
  max-width: 2560px;
  margin: 0 auto;
}

.topArea {
  position: relative;
}
.topArea .titArea {
  padding: 66px 0 33px;
  text-align: center;
}
.topArea .titArea .tit {
  font-weight: 700;
  font-size: 60px;
}
.topArea .titArea .tit .tk-arboria {
  font-size: 72px;
  font-weight: 500;
}
.topArea .titArea .desc {
  margin-top: 12px;
  font-weight: 400;
  font-size: 18px;
}
.topArea .visual {
  height: 480px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@media all and (max-width: 1320px) {
  .content {
    font-size: 16px;
  }

  .topArea .visual {
    height: 240px;
    background-size: cover;
  }
}
.cont {
  width: 1200px;
  margin: 0 auto;
  padding: 80px 0 90px;
}

.bbsWrap {
  width: 100%;
}

.bbsTbl th {
  height: 53px;
  vertical-align: middle;
  border-top: 2px solid #0D0D0D;
  border-bottom: 1px solid #0D0D0D;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  color: #0D0D0D;
}
.bbsTbl td {
  height: 85px;
  border-bottom: 1px solid #E8E8E8;
  vertical-align: middle;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
}
.bbsTbl td a {
  display: block;
  text-align: left;
  font-size: 18px;
  color: #0D0D0D;
}
.bbsTbl td a:hover {
  font-weight: 500;
  color: #00498C;
}

.stockTbl td {
  font-size: 14px;
  height: 45px;
  vertical-align: middle;
  text-align: center;
  border-left: 1px solid #ededed;
  word-break: break-all;
  font-family: "Rubik", "Noto Sans KR", NanumGothic, "Nanum Gothic", Dotum, Arial, sans-serif;
}

.table02 tr td, .table03 tr td, .table04 tr td, .table05 tr td {
  border-bottom: 1px solid #ededed;
}

.table04 tr.subject td {
  border-bottom: 1px solid #999;
  border-left: 1px solid #ededed;
}

.stock02-table tr td {
  border-bottom: 1px solid #ddd;
}

.stock02-table tr td:first-child {
  border-left: 0;
}

.stock03-table th {
  border: 1px solid #afafaf;
}

.stock03-table td {
  border: 1px solid #ddd;
}

.stock03-table td:first-child {
  background-color: #f7f7f7;
  border: 1px solid #afafaf;
}

.stock03-table td.bg {
  background-color: #fff;
  border-color: #ddd;
}

.stock03-table .black-line td {
  border-bottom: 1px solid #737373;
}

.stock03-table td.price {
  text-align: right;
  padding-right: 5px;
}

/*# sourceMappingURL=style.css.map */
