@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://p.typekit.net/p.css?s=1&k=oyq3azw&ht=tk&f=34862.34863.34866.34867&a=16670750&app=typekit&e=css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, input, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font-family: "SpoqaHanSansNeo", "돋움", Dotum, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  vertical-align: baseline;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  word-break: break-word;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.4;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

hr {
  display: none;
}

img {
  vertical-align: middle;
}

button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  color: #0D0D0D;
}

b, strong {
  font-weight: 700;
}

fieldset, iframe {
  width: 100%;
}

img, a, frame, iframe, fieldset {
  border: 0;
}

a {
  text-decoration: none;
}

a:-webkit-any-link {
  color: #0D0D0D;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

caption {
  height: 0;
  font-size: 0;
  overflow: hidden;
}

/* Font Style */
/* 영문폰트 */
@font-face {
  font-family: "arboria";
  src: url("https://use.typekit.net/af/2ed003/00000000000000003b9b011c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"), url("https://use.typekit.net/af/2ed003/00000000000000003b9b011c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"), url("https://use.typekit.net/af/2ed003/00000000000000003b9b011c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}
@font-face {
  font-family: "arboria";
  src: url("https://use.typekit.net/af/f350ae/00000000000000003b9b011d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/f350ae/00000000000000003b9b011d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/f350ae/00000000000000003b9b011d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
@font-face {
  font-family: "arboria";
  src: url("https://use.typekit.net/af/7c0289/00000000000000003b9b0120/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/7c0289/00000000000000003b9b0120/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/7c0289/00000000000000003b9b0120/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}
@font-face {
  font-family: "arboria";
  src: url("https://use.typekit.net/af/1f8fa9/00000000000000003b9b0121/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"), url("https://use.typekit.net/af/1f8fa9/00000000000000003b9b0121/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"), url("https://use.typekit.net/af/1f8fa9/00000000000000003b9b0121/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
}
/* 한글폰트 */
@font-face {
  font-family: "SpoqaHanSansNeo";
  font-style: normal;
  font-weight: 300;
  src: url(../font/SpoqaHanSansNeo-Light.eot);
  src: url(../font/SpoqaHanSansNeo-Light.eot?#iefix) format("embedded-opentype"), url(../font/SpoqaHanSansNeo-Light.woff) format("woff"), url(../font/SpoqaHanSansNeo-Light.ttf) format("truetype");
}
@font-face {
  font-family: "SpoqaHanSansNeo";
  font-style: normal;
  font-weight: 400;
  src: url(../font/SpoqaHanSansNeo-Regular.eot);
  src: url(../font/SpoqaHanSansNeo-Regular.eot?#iefix) format("embedded-opentype"), url(../font/SpoqaHanSansNeo-Regular.woff) format("woff"), url(../font/SpoqaHanSansNeo-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "SpoqaHanSansNeo";
  font-style: normal;
  font-weight: 500;
  src: url(../font/SpoqaHanSansNeo-Medium.eot);
  src: url(../font/SpoqaHanSansNeo-Medium.eot?#iefix) format("embedded-opentype"), url(../font/SpoqaHanSansNeo-Medium.woff) format("woff"), url(../font/SpoqaHanSansNeo-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "SpoqaHanSansNeo";
  font-style: normal;
  font-weight: 700;
  src: url(../font/SpoqaHanSansNeo-Bold.eot);
  src: url(../font/SpoqaHanSansNeo-Bold.eot?#iefix) format("embedded-opentype"), url(../font/SpoqaHanSansNeo-Bold.woff) format("woff"), url(../font/SpoqaHanSansNeo-Bold.ttf) format("truetype");
}
.tk-arboria {
  font-family: "arboria", sans-serif;
}

/* variables */
/* Layout Style*/
/* UI Style(Button, Form, Dialogs */
.blind {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
}

.content, .topArea {
  position: relative;
  font-size: 4.2666666667vw;
}

.cont {
  padding: 8vw 6.4vw 11.7333333333vw;
}
.cont .cont_tit {
  display: block;
  text-align: center;
  font-size: 5.8666666667vw;
  font-weight: 700;
}

.topArea {
  padding-top: 9.6vw;
  text-align: center;
}
.topArea .titArea .tit {
  font-weight: 700;
  font-size: 7.4666666667vw;
  line-height: 1.5;
}
.topArea .titArea .tit .tk-arboria {
  font-size: 9.0666666667vw;
  font-weight: 500;
}
.topArea .titArea .desc {
  height: 11.7333333333vw;
  font-weight: 400;
  font-size: 4vw;
  line-height: 1.4;
}
.topArea .visual {
  margin-top: 3.2vw;
  height: 64vw;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media all and (max-width: 960px) {
  .pc {
    display: none;
  }
}
@media all and (min-width: 961px) {
  .mo {
    display: none;
  }

  .content, .topArea {
    max-width: 2560px;
    margin: 0 auto;
  }

  .topArea {
    padding-top: 36px;
  }
  .topArea .titArea .tit {
    font-size: 60px;
  }
  .topArea .titArea .tit .tk-arboria {
    font-size: 72px;
  }
  .topArea .titArea .desc {
    height: 100%;
    font-size: 18px;
  }
  .topArea .visual {
    margin-top: 32px;
    height: 480px;
  }

  .cont {
    margin: 0 auto;
  }
}
@media all and (min-width: 1321px) {
  .cont {
    width: 1200px;
    padding: 80px 0 110px;
  }
}
@media all and (min-width: 961px) and (max-width: 1320px) {
  .cont {
    width: 100%;
    padding: 60px 48px 44px;
  }
}
.bbs_util {
  margin-bottom: 6.4vw;
}
.bbs_util .sortWrap {
  width: 100%;
}
.bbs_util .searchWrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 3.2vw;
  height: 11.7333333333vw;
}
.bbs_util .searchWrap .bbs_sort {
  width: 50%;
  margin-right: 1.6vw;
}
.bbs_util .searchWrap .search-input {
  margin-left: 1.6vw;
}

.bbs_sort {
  position: relative;
}
.bbs_sort .bbs_button {
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  height: 11.7333333333vw;
  font-size: 3.7333333333vw;
  border-bottom: 1px solid #0D0D0D;
  font-weight: 400;
}
.bbs_sort .bbs_button::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  width: 4.2666666667vw;
  height: 4.2666666667vw;
  transform: translateY(-50%);
  background: url(../images/ico_arrow_black.png) no-repeat 50% 50%;
}
.bbs_sort .bbs_button.on::after {
  transform: rotate(180deg) translateY(50%);
}
.bbs_sort .bbs_sortList {
  display: none;
  position: absolute;
  top: 11.7333333333vw;
  left: 0;
  width: 100%;
  padding: 4.2666666667vw 5.3333333333vw;
  background-color: #0D0D0D;
  z-index: 10;
}
.bbs_sort .bbs_sortList li a {
  font-size: 3.7333333333vw;
  font-weight: 500;
  color: #fff;
}
.bbs_sort .bbs_sortList li + li {
  margin-top: 2.6666666667vw;
}
.bbs_sort .bbs_sortList li.active a {
  font-weight: 700;
  color: #43C9FB;
}

.btn-search {
  display: block;
  width: 6.4vw;
  height: 6.4vw;
  background: url(../images/ico_search.png) no-repeat 50% 50%;
}

.search-input {
  position: relative;
  height: 100%;
  padding-right: 6.4vw;
  border-bottom: 1px solid #0D0D0D;
}
.search-input input {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 3.7333333333vw;
}
.search-input .btn-search {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.bbsList li {
  padding: 16px 0;
  border-bottom: 1px solid #E8E8E8;
  font-size: 14px;
  color: #0D0D0D;
  line-height: 1.5;
}
.bbsList li:first-child {
  border-top: 2px solid #0D0D0D;
}
.bbsList li a {
  display: block;
  text-align: left;
  font-size: 16px;
  color: #0D0D0D;
}
.bbsList li .date {
  display: inline-block;
  margin-top: 6px;
  font-size: 3.7333333333vw;
  color: #777777;
}

.bbsTbl th {
  height: 53px;
  vertical-align: middle;
  border-top: 2px solid #0D0D0D;
  border-bottom: 1px solid #0D0D0D;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  color: #0D0D0D;
}
.bbsTbl td {
  height: 85px;
  border-bottom: 1px solid #E8E8E8;
  vertical-align: middle;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
}
.bbsTbl td a {
  display: block;
  text-align: left;
  font-size: 18px;
  color: #0D0D0D;
}
.bbsTbl td a:hover {
  font-weight: 500;
  color: #00498C;
}

@media all and (min-width: 961px) {
  .bbs_util {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  .bbs_util .sortWrap {
    min-width: 180px;
    max-width: 20%;
  }
  .bbs_util .searchWrap {
    width: 372px;
    margin-top: 0;
    height: 44px;
  }
  .bbs_util .searchWrap .bbs_sort {
    width: 140px;
    margin-right: 6px;
  }
  .bbs_util .searchWrap .search-input {
    width: 220px;
    margin-left: 6px;
  }

  .bbs_sort .bbs_button {
    height: 44px;
    font-size: 16px;
  }
  .bbs_sort .bbs_button::after {
    width: 16px;
    height: 16px;
  }
  .bbs_sort .bbs_sortList {
    top: 44px;
    padding: 16px 20px;
  }
  .bbs_sort .bbs_sortList li a {
    font-size: 16px;
  }
  .bbs_sort .bbs_sortList li + li {
    margin-top: 10px;
  }

  .btn-search {
    width: 24px;
    height: 24px;
  }

  .search-input {
    padding-right: 24px;
  }
  .search-input input {
    font-size: 16px;
  }
}
.paging {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  margin: 4vw 0 0;
  font-size: 0;
}
.paging > div {
  font-size: 0;
}
.paging a {
  display: inline-block;
  vertical-align: middle;
  width: 10.6666666667vw;
  height: 10.6666666667vw;
  text-align: center;
  font-size: 4.2666666667vw;
  font-weight: 700;
  line-height: 10.6666666667vw;
  color: #ABABAB;
}
.paging a:hover, .paging a.active {
  color: #00498C;
}
.paging a.cur {
  margin: 0 1.3333333333vw;
}
.paging a.arrow {
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.paging a.arrow.disabled {
  opacity: 0.3;
  filter: contrast(0.1);
}
.paging a.first {
  background-image: url(../images/ico_arrow_rightbar.png);
  transform: rotate(180deg);
  margin-left: -3.4666666667vw;
}
.paging a.prev {
  background-image: url(../images/ico_arrow_right.png);
  transform: rotate(180deg);
}
.paging a.next {
  background-image: url(../images/ico_arrow_right.png);
}
.paging a.last {
  background-image: url(../images/ico_arrow_rightbar.png);
  margin-right: -3.4666666667vw;
}

@media all and (min-width: 961px) {
  .paging {
    display: block;
    margin: 50px 0 0;
  }
  .paging > * {
    display: inline-block;
  }
  .paging > div {
    display: inline-block;
  }
  .paging a {
    width: 40px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
  }
  .paging a.cur {
    margin: 0 5px;
  }
  .paging a.first {
    margin-left: 0;
  }
  .paging a.last {
    margin-right: 0;
  }
  .paging .center {
    margin: 0 20px;
  }
}
.bbsWrap .cont_tit {
  font-weight: 500;
}

.bbs_detail {
  margin-top: 6.4vw;
  border-top: 1px solid #0D0D0D;
}
.bbs_detail .top {
  display: flex;
  justify-content: space-between;
  margin-top: 2.1333333333vw;
}
.bbs_detail .top span, .bbs_detail .top em {
  display: inline-block;
  font-size: 3.7333333333vw;
}
.bbs_detail .top span.item {
  font-weight: 400;
  color: #777;
}
.bbs_detail .top em.value {
  margin-left: 5px;
  font-weight: 500;
}
.bbs_detail .bbs-view-content {
  padding: 9.3333333333vw 0 10.6666666667vw;
  line-height: 1.5;
  font-weight: 400;
  color: #454545;
  white-space: pre-line;
}

.bbs-more {
  border-top: 1px solid #0D0D0D;
  border-bottom: 1px solid #0D0D0D;
}
.bbs-more li {
  position: relative;
  padding: 4.2666666667vw 10.6666666667vw 4.2666666667vw 0;
}
.bbs-more li + li {
  border-top: 1px solid #E8E8E8;
}
.bbs-more li a {
  display: block;
  word-break: keep-all;
}
.bbs-more li::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 4.2666666667vw;
  height: 4.2666666667vw;
  background: url(../images/ico_arrow_black.png) no-repeat 50% 50%;
}
.bbs-more li.prev::after {
  transform: translateY(-50%) rotate(-180deg);
}

.btn-area {
  margin-top: 6.4vw;
  text-align: center;
}
.btn-area a, .btn-area button {
  display: inline-block;
}

.btn-p {
  width: 100%;
  height: 13.8666666667vw;
  background: #00498C;
  text-align: center;
  line-height: 13.8666666667vw;
}
.btn-p span {
  color: #FFFFFF;
}

@media all and (min-width: 961px) {
  .bbs_detail .top .info {
    display: flex;
  }
  .bbs_detail .top .info div + div {
    margin-left: 50px;
  }
}
/* Layout Style*/
body.fixed {
  position: fixed;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 17.0666666667vw;
  padding: 0 24px 0 20px;
  box-sizing: border-box;
  background-color: #fff;
  transition: background-color 0.3s;
}
header .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
header .head h1 a img {
  width: auto;
  height: 6.4vw;
}
header .head h1 a img:nth-child(1) {
  display: none;
}
header .head h1 a img:nth-child(2) {
  display: block;
}
header .head .btn-show-menu {
  width: 8vw;
  height: 8vw;
}
header .head .btn-show-menu:before, header .head .btn-show-menu:after {
  content: "";
  display: block;
  width: 8vw;
  height: 0.5333333333vw;
  background-color: #454545;
  transition: background-color 0.3s, transform 0.3s;
}
header .head .btn-show-menu:after {
  margin-top: 1.6vw;
}
header nav {
  display: none;
}
header.top {
  background-color: transparent;
}
header.top .head h1 a img:nth-child(1) {
  display: block;
}
header.top .head h1 a img:nth-child(2) {
  display: none;
}
header.top .head .btn-show-menu:before, header.top .head .btn-show-menu:after {
  background-color: #fff;
}
header.expand {
  position: relative;
  background-color: #00498C !important;
}
header.expand .head h1 a img:nth-child(1) {
  display: block !important;
}
header.expand .head h1 a img:nth-child(2) {
  display: none !important;
}
header.expand .head .btn-show-menu:before, header.expand .head .btn-show-menu:after {
  background-color: #fff !important;
  transform-origin: 2.5333333333vw;
}
header.expand .head .btn-show-menu:before {
  transform: rotate(45deg);
}
header.expand .head .btn-show-menu:after {
  transform: rotate(-45deg);
}
header.expand nav {
  display: block;
  position: absolute;
  top: 17.0666666667vw;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: calc(100vh - 17.0666666667vw);
  padding: 0 6.4vw;
  box-sizing: border-box;
  font-weight: 400;
  color: #0D0D0D;
  background-color: #fff;
  overflow-y: auto;
}
header.expand nav a {
  font-size: 3.7333333333vw;
  font-weight: 500;
}
header.expand nav > ul > li {
  background: url(../images/ico_nav_menu_arrow_blue.png) no-repeat right 9.3333333333vw;
  background-size: auto 4.2666666667vw;
}
header.expand nav > ul > li h3 a {
  display: flex;
  align-items: center;
  font-size: 5.8666666667vw;
  height: 22.9333333333vw;
}
header.expand nav > ul > li > ul {
  position: relative;
  top: -8vw;
  padding-left: 56.2666666667vw;
}
header.expand nav > ul > li > ul > li a {
  display: block;
  height: 6.9333333333vw;
  margin-top: 2.1333333333vw;
  color: #454545;
}

main {
  height: 100vh;
}

footer {
  padding: 6.4vw;
  font-size: 3.7333333333vw;
  font-weight: 500;
  color: #ABABAB;
  background-color: #202020;
}
footer a {
  color: #ABABAB !important;
  font-size: 3.7333333333vw;
  font-weight: 500;
}
footer .info h1 a {
  color: #FFF !important;
  font-weight: 700;
}
footer .info h1 + p {
  margin-top: 2.1333333333vw;
  line-height: 5.3333333333vw;
  padding-bottom: 5.3333333333vw;
  border-bottom: 1px solid #444;
}
footer .link p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #444;
}
footer .link a {
  display: inline-block;
  line-height: 11.7333333333vw;
}
footer .link em {
  content: "";
  display: block;
  width: 1.0666666667vw;
  height: 1.0666666667vw;
  border-radius: 50%;
  background-color: #ABABAB;
}
footer .link:after {
  content: "Copyright 2022 By AK Holdings, Inc. ALL Rights Reserved.";
  display: block;
  margin-top: 2.6666666667vw;
  font-size: 2.9333333333vw;
  font-weight: 500;
  color: #777;
}

@media all and (min-width: 961px) {
  footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 60px 40px;
    font-size: 16px;
    font-weight: 400;
  }
  footer a {
    font-size: 16px;
    font-weight: 500;
  }
  footer .info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  footer .info h1 a {
    font-weight: 700;
  }
  footer .info h1 + p {
    margin-left: 30px;
    margin-top: 0;
    padding-left: 30px;
    padding-bottom: 0;
    line-height: 16px;
    border-bottom: 0;
    border-left: 1px solid #444;
  }
  footer .info h1 + p:after {
    content: "Copyright 2022 By AK Holdings, Inc. ALL Rights Reserved.";
    display: block;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 500;
    color: #777;
  }
  footer .link {
    width: 273px;
    height: auto;
  }
  footer .link p {
    border-bottom: 0;
  }
  footer .link a {
    display: inline-block;
    line-height: 26px;
  }
  footer .link em {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #ABABAB;
  }
  footer .link:after {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
