@charset "utf-8";
/* UI Style(Button, Form, Dialogs */
.blind{
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
}

.content, .topArea{
  position:relative;
  font-size: get-vw(16px);
}
.cont{
  padding:get-vw(30px) get-vw(24px) get-vw(44px);
}
.topArea{
  padding-top: get-vw(36px);
  text-align:center;
  .titArea {
    .tit{
      font-weight:700;
      font-size: get-vw(28px);
      line-height:1.5;
      .tk-arboria{
        font-size: get-vw(34px);
        font-weight:500;
      }
    }
    .desc{
      height:get-vw(44px);
      font-weight:400;
      font-size: get-vw(15px);
      line-height:1.4;
    }
  }
  .visual{
    margin-top: get-vw(12px);
    height: get-vw(240px);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size:cover;
  }
}
.bbs_sort{
  position:relative;
  .bbs_button{
    position: relative;
    display: block;
    width: 100%;
    text-align: left;
    height: get-vw(44px);
    font-size: get-vw(14px);
    border-bottom: 1px solid #0D0D0D;
    font-weight:400;
    &::after{
      content:'';
      display:block;
      position: absolute;
      right:0;
      top:50%;
      width: get-vw(16px);
      height: get-vw(16px);
      transform: translateY(-50%);
      background:url(../images/ico_arrow_black.png) no-repeat 50% 50%;
    }
    &.on::after{
      transform: rotate(180deg) translateY(50%);
    }
  }
  .bbs_sortList{
    display:none;
    position:absolute;
    top: get-vw(44px);
    left: 0;
    width: 100%;
    padding: get-vw(16px) get-vw(20px);
    background-color: #0D0D0D;
    z-index: 10;
    li{
      a{
        font-size: get-vw(14px);
        font-weight: 500;
        color:#fff;
      }
      &+li{
        margin-top: get-vw(10px);
      }
      &.selected a{
        font-weight:700;
        color:#43C9FB;
      }
    }
  }
}
.btn-search{
  display:block;
  width:get-vw(24px);
  height:get-vw(24px);
  background:url(../images/ico_search.png) no-repeat 50% 50%;
}
.search-input{
  position:relative;
  height: 100%;
  padding-right: get-vw(24px);
  border-bottom:1px solid #0D0D0D;
  input{
    height:100%;
    width:100%;
    border:none;
    font-size:get-vw(14px);
  }
  .btn-search{
    position:absolute;
    right:0;
    top:50%;
    transform: translateY(-50%);
  }
}
.bbs_util{
  .sortWrap{
    width:100%;
  }
  .searchWrap{
    display:flex;
    justify-content: space-between;
    width:100%;
    margin-top:get-vw(12px);
    height: get-vw(44px);
    .bbs_sort{
      width:50%;
      margin-right:get-vw(6px);
    }
    .search-input{
      margin-left:get-vw(6px);
    }
  }
}
.bbsList{
  margin-top:get-vw(24px);
  li{
    padding:16px 0;
    border-bottom:1px solid #0D0D0D;
    font-size:14px;
    color:#0D0D0D;
    line-height:1.5;
    &:first-child{
      border-top:2px solid #0D0D0D;
    }
    a{
      display:block;
      text-align: left;
      font-size:16px;
      color:#0D0D0D;
    }
    .date{
      display:inline-block;
      margin-top:6px;
      font-size:get-vw(14px);
      color:#777777;
    }
  }
}

.paging{
  display:flex;
  justify-content: space-between;
  width:100%;
  text-align: center;
  margin: 50px 0;
  font-size:0;
  &>div{
    font-size:0;
  }
  a{
    display:inline-block;
    vertical-align: middle;
    width: get-vw(40px);
    height: get-vw(40px);
    text-align: center;
    font-size: get-vw(16px);
    font-weight:700;
    line-height: get-vw(40px);
    color: #ABABAB;
    &:hover, &.active {
      color:#00498C;
    }
    &.cur{
      margin:0 get-vw(5px);
    }
    &.arrow{
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
    &.first{
      background-image:url(../images/ico_arrow_rightbar.png);
      transform: rotate(180deg);
      margin-left:get-vw(-13px);
    }
    &.prev{
      background-image:url(../images/ico_arrow_right.png);
      transform: rotate(180deg);
    }
    &.next{
      background-image:url(../images/ico_arrow_right.png);
    }
    &.last{
      background-image:url(../images/ico_arrow_rightbar.png);
      margin-right:get-vw(-13px);
    }
  }
}
@media all and (min-width: 1321px) { /* PC */
//  .content, .topArea{
//    max-width:2560px;
//    margin:0 auto;
//  }
}
@media all and (max-width: 960px) { /* mobile */
  .pc{
    display:none;
  }
}
@media all and (min-width: 961px) and (max-width: 1320px) { /* 태블릿 */
}
@media all and (max-width: 1320px) { /* mobile & 태블릿 */
}
//
//.cont{
//  width:1200px;
//  margin:0 auto;
//  padding:80px 0 90px;
//}
//.bbsWrap{width:100%;}
//.bbsTbl{
//  th{
//    height:53px;
//    vertical-align:middle;
//    border-top:2px solid #0D0D0D;
//    border-bottom:1px solid #0D0D0D;
//    text-align:center;
//    font-weight:500;
//    font-size:16px;
//    color:#0D0D0D;
//  }
//  td{
//    height:85px;
//    border-bottom:1px solid #E8E8E8;
//    vertical-align:middle;
//    text-align: center;
//    font-weight: 400;
//    line-height:1.5;
//    a{
//      display:block;
//      text-align: left;
//      font-size:18px;
//      color:#0D0D0D;
//      &:hover{
//        font-weight:500;
//        color:#00498C;
//      }
//    }
//  }
//}

