@charset "utf-8";
/* UI Style(Button, Form, Dialogs */
.blind{
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
}
.fw-300{
  font-weight:300;
}
.content, .topArea{
  position:relative;
  font-size: get-vw(16px);
}
.topArea {
  &.sub {
    padding-top: get-vw(100px);
  }
}
@media all and (min-width: 960px) {
  .topArea {
    &.sub {
      padding-top: 153px;
    }
  }
}
.cont{
  padding:get-vw(45px) get-vw(24px) get-vw(44px);
  .cont_tit{
    display:block;
    text-align: center;
    font-size:get-vw(22px);
    font-weight:700;
  }
  &.pd-rl-20{
    padding:get-vw(45px) get-vw(20px) get-vw(44px);
  }
}

/* 상단 제목 및 비주얼 */
.topArea{
  padding-top: get-vw(36px);
  text-align:center;
  .titArea {
    .tit{
      font-weight:700;
      font-size: get-vw(28px);
      line-height:1.5;
      color:#0D0D0D;
      .tk-arboria{
        font-size: get-vw(34px);
        font-weight:600;
      }
    }
    .desc{
      height:get-vw(44px);
      font-weight:400;
      font-size: get-vw(15px);
      line-height:1.4;
      color:#454545;
    }
  }
  .visual{
    position: relative;
    margin-top: get-vw(12px);
    height: get-vw(240px);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size:cover;
    &.esg-news{background-image:url("/images/img_esgNews_m.png");}
    &.ak-news{background-image:url("/images/img_akNews_m.png");}
    &.management{background-image:url("/images/img_esg_management_m.png");}
    &.value{background-image:url("/images/img_value_m.png");}
    &.ir{background-image:url("/images/img_ir_m.png");}
    &.ir-governance{background-image:url("/images/img_ir_governance_m.png");}
    &.investment{background-image:url("/images/img_investment_m.png");}
    &.intro-history{
      background-image:url("/images/img_introduce_history_m.png");
      .desc{
        position: absolute;
        bottom: 0;
        width:100%;
        padding:5px 0 3px;
        background: rgba(13, 13, 13, 0.7);
        font-size:get-vw(13px);
        color:rgba(255, 255, 255, 0.9);
        text-align:center;
        letter-spacing: -0.02em;
      }
    }
    &.intro{
      background-image:url("/images/img_introduce_m.png");
    }
    &.intro-company{background-image:url("/images/img_introduce_company_m.png");}
    &.financial{background-image:url("/images/img_financial_m.png");}
    .top-tab {
      position: absolute;
      top: get-vw(192px);
      left: get-vw(24px);
      width: calc(100vw - get-vw(48px));
      height: get-vw(48px);
      background-color: #00498C;
      z-index: 1;
      &.on {
        height: auto;
        ul {
          li {
            &.active {
              //display: none;
              a {
                color: #8CE0FF;
              }
            }
            &:first-child {
              a {
                &::after{
                  transform: rotate(180deg) translateY(50%);
                }
              }
            }
            a {
              display: flex;
            }
          }
        }
      }
      ul {
        li {
          &:first-child {
            a {
              display: flex!important;
              position: relative;
              background-color: #00498c;
              font-weight: 700;
              &::after{
                content:'';
                display:block;
                position: absolute;
                right:get-vw(24px);
                top:50%;
                width: get-vw(16px);
                height: get-vw(16px);
                transform: translateY(-50%);
                background:url('/images/ico_arrow_white.png') no-repeat 50% 50%;
                background-size:cover;
              }
            }
          }
          a {
            display: none;
            width: 100%;
            height: get-vw(48px);
            padding: 0 get-vw(24px);
            line-height: get-vw(48px);
            font-size: get-vw(16px);
            font-weight: 500;
            color: #fff;
            background-color: #003a70;
          }
        }
      }
    }
  }
}

@media all and (max-width: 960px) {
  .pc{
    display:none;
  }
}
@media all and (min-width: 961px) {
  .mo{
    display:none;
  }
  .content, .topArea{
    max-width:2560px;
    margin:0 auto;
  }
  .topArea{
    padding-top:36px;
    .titArea {
      .tit{
        font-size: 60px;
        .tk-arboria{
          font-size: 72px;
        }
      }
      .desc{
        height:100%;
        font-size: 18px;
      }
    }
    .visual{
      margin-top: 32px;
      height: 480px;
      &.esg-news{background-image:url("/images/img_esgNews.png");}
      &.ak-news{background-image:url("/images/img_akNews.png");}
      &.management{background-image:url("/images/img_esg_management.png");}
      &.value{background-image:url("/images/img_value.png");}
      &.ir{background-image:url("/images/img_ir.png");}
      &.ir-governance{background-image:url("/images/img_ir_governance.png");}
      &.investment{background-image:url("/images/img_investment.png");}
      &.intro-history{
        background-image:url("/images/img_introduce_history.png");
        .desc{
          bottom: 0;
          left:50%;
          width:405px;
          height:40px;
          transform: translateX(195px);
          padding:9px 15px 7px;
          font-size:14px;
          text-align:center;
          letter-spacing: 0;
          line-height:1.7;
        }
      }
      &.intro{
        background-image:url("/images/img_introduce.png");
      }
      &.intro-company{background-image:url("/images/img_introduce_company.png");}
      &.financial{background-image:url("/images/img_financial.png");}
      &.has-tab{
        margin-bottom:38px;
        &::after{
          content:'';
          display:block;
          position: absolute;
          bottom:0;
          right:0;
          width:40%;
          height:74px;
          transform: translateY(50%);
          background:#00498C;
        }
      }
      .top-tab {
        position: absolute;
        top: 443px;
        left: 50%;
        transform: translateX(-50%);
        width: 1200px;
        height: 74px;
        background-color: transparent;
        z-index: 1;
        ul {
          display: flex;
          position:relative;
          justify-content: center;
          width:100%;
          background:#00498C;
          li {
            height: 74px;
            &.active {
              position: relative;
              display: block;
              a {
                font-weight: 700;
                &::before {
                  content: '';
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  display: block;
                  width: 100%;
                  height: 6px;
                  background-color: #43C9FB;
                }
              }
            }
            &:first-child {
              a {
                display: inline-flex!important;
                background-color: #00498C;
                font-weight: 400;
                &::after{
                  content: none;
                }
              }
            }
            a {
              display: flex;
              height: 74px;
              padding:0 32px;
              line-height: 74px;
              font-size: 18px;
              font-weight: 400;
              background-color: #00498C;
              color: #fff;
            }
          }
        }
      }
    }
  }
  .cont{
    margin:0 auto;
    .cont_tit{
      font-size:32px;
    }
  }
}
@media all and (min-width: 1321px) {
  .cont{
    width:1200px;
    padding:80px 0 110px;
    &.pd-rl-20{
      padding:80px 0 110px;
    }
  }
}
@media all and (min-width: 961px) and (max-width:1320px) {
  .cont{
    width:100%;
    padding:60px 48px 110px;
  }
}

/* 게시판 */
.bbs_util{
  margin-bottom:get-vw(24px);
  .sortWrap{
    width:100%;
  }
  .searchWrap{
    display:flex;
    justify-content: space-between;
    width:100%;
    margin-top:get-vw(12px);
    height: get-vw(44px);
    .bbs_sort{
      width:50%;
      margin-right:get-vw(6px);
    }
    .search-input{
      margin-left:get-vw(6px);
    }
  }
}
.bbs_sort{
  position:relative;
  .bbs_button{
    position: relative;
    display: block;
    width: 100%;
    text-align: left;
    height: get-vw(44px);
    font-size: get-vw(14px);
    border-bottom: 1px solid #0D0D0D;
    font-weight:400;
    &::after{
      content:'';
      display:block;
      position: absolute;
      right:0;
      top:50%;
      width: get-vw(16px);
      height: get-vw(16px);
      transform: translateY(-50%);
      background:url('/images/ico_arrow_black.png') no-repeat 50% 50%;
      background-size:cover;
    }
    &.on::after{
      transform: rotate(180deg) translateY(50%);
    }
    &.on + .bbs_sortList {
      display: block;
    }
  }
  .bbs_sortList{
    display:none;
    position:absolute;
    top: get-vw(44px);
    left: 0;
    width: 100%;
    padding: get-vw(16px) get-vw(20px);
    background-color: #0D0D0D;
    z-index: 10;
    li{
      a{
        font-size: get-vw(14px);
        font-weight: 500;
        color:#fff;
      }
      &+li{
        margin-top: get-vw(10px);
      }
      &.active a, & a:hover{
        font-weight:700;
        color:#43C9FB;
      }
    }
  }
}
.btn-search{
  display:block;
  width:get-vw(24px);
  height:get-vw(24px);
  background:url('/images/ico_search.png') no-repeat 50% 50%;
  background-size: cover;
}
.search-input{
  position:relative;
  height: 100%;
  padding-right: get-vw(24px);
  border-bottom:1px solid #0D0D0D;
  input{
    height:100%;
    width:100%;
    border:none;
    font-size:get-vw(14px);
  }
  .btn-search{
    position:absolute;
    right:0;
    top:50%;
    transform: translateY(-50%);
  }
}
.bbsList{
  li{
    padding:16px 0;
    border-bottom:1px solid #E8E8E8;
    font-size:14px;
    color:#0D0D0D;
    line-height:1.5;
    &:first-child{
      border-top:2px solid #0D0D0D;
    }
    a{
      display:block;
      text-align: left;
      color:#0D0D0D;
    }
    .date{
      display:inline-block;
      margin-top:6px;
      font-size:get-vw(14px);
      color:#777777;
    }
  }
}
.bbsTbl{
  th{
    height:53px;
    vertical-align:middle;
    border-top:2px solid #0D0D0D;
    border-bottom:1px solid #0D0D0D;
    text-align:center;
    font-weight:500;
    font-size:16px;
    color:#0D0D0D;
  }
  td{
    height:85px;
    border-bottom:1px solid #E8E8E8;
    vertical-align:middle;
    color:#777777;
    text-align: center;
    font-weight: 400;
    line-height:1.5;
    a{
      display:block;
      text-align: left;
      font-size:18px;
      color:#0D0D0D;
      &:hover{
        font-weight:500;
        color:#00498C;
      }
    }
  }
}
@media all and (min-width: 961px) {
  .bbs_util {
    display:flex;
    justify-content: space-between;
    margin-bottom:12px;
    .sortWrap {
      min-width:180px;
      max-width:20%;
    }
    .searchWrap {
      width: 372px;
      margin-top:0;
      height: 44px;
      .bbs_sort {
        width: 140px;
        margin-right: 6px;
      }
      .search-input {
        width:220px;
        margin-left: 6px;
      }
    }
  }
  .bbs_sort{
    .bbs_button{
      height: 44px;
      font-size: 16px;
      &::after{
        width: 16px;
        height: 16px;
      }
    }
    .bbs_sortList{
      top: 44px;
      padding: 16px 20px;
      li{
        a{
          font-size: 16px;
        }
        &+li{
          margin-top: 10px;
        }
      }
    }
  }
  .btn-search{
    width:24px;
    height:24px;
  }
  .search-input{
    padding-right: 24px;
    input{
      font-size:16px;
      &::placeholder{
        color:#0D0D0D;
        opacity: 0.25;
      }
    }
  }
}

/* 페이징 */
.paging{
  display:flex;
  justify-content: space-between;
  width:100%;
  text-align: center;
  margin: get-vw(15px) 0 0;
  font-size:0;
  &>div{
    font-size:0;
  }
  a{
    display:inline-block;
    vertical-align: middle;
    width: get-vw(40px);
    height: get-vw(40px);
    text-align: center;
    font-size: get-vw(16px);
    font-weight:700;
    line-height: get-vw(40px);
    color: #ABABAB;
    &:hover, &.active {
      color:#00498C;
    }
    &.cur{
      margin:0 get-vw(5px);
    }
    &.arrow{
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size:get-vw(16px);
      &.disabled{
        opacity: 0.3;
        filter:contrast(0.1);
      }
    }
    &.first{
      background-image:url('/images/ico_arrow_rightbar.png');
      transform: rotate(180deg);
      margin-left:get-vw(-13px);
    }
    &.prev{
      background-image:url('/images/ico_arrow_right.png');
      transform: rotate(180deg);
    }
    &.next{
      background-image:url('/images/ico_arrow_right.png');
    }
    &.last{
      background-image:url('/images/ico_arrow_rightbar.png');
      margin-right:get-vw(-13px);
    }
  }
}

@media all and (min-width: 961px) {
  .paging{
    display:block;
    margin: 50px 0 0;
    > * {
      display:inline-block;
    }
    &>div{
      display:inline-block;
    }
    a{
      width: 40px;
      height: 40px;
      font-size: 16px;
      line-height: 40px;
      &.cur{
        margin:0 5px;
      }
      &.first{
        margin-left:0;
      }
      &.last{
        margin-right:0;
      }
      &.arrow{
        background-size:16px;
      }
    }
    .center{
      margin:0 20px;
    }
  }
}

/* 게시판 상세 */
.bbsWrap{
  .cont_tit{
    font-weight:500;
  }
}
.bbs_detail{
  margin-top:get-vw(24px);
  border-top:1px solid #0D0D0D;
  .top{
    display:flex;
    justify-content: space-between;
    margin-top:get-vw(8px);
    span, em{
      display:inline-block;
      font-size:get-vw(14px);
    }
    span.item{
      font-weight:400;
      color:#777;
    }
    em.value{
      margin-left:5px;
      font-weight:500;
    }
  }
  .bbs-view-content{
    padding:get-vw(35px) 0 get-vw(40px);
    line-height: 1.5;
    font-weight: 400;
    color: #454545;
    white-space: pre-line;
    img{
      width:100%;
      height:auto;
      text-align: center;
    }
  }
}
.bbs-more{
  border-top:1px solid #0D0D0D;
  border-bottom:1px solid #0D0D0D;
  li{
    position:relative;
    padding:get-vw(16px) get-vw(40px) get-vw(16px) 0;
    &.disabled{
      display: none;
    }
    + li {
      border-top:1px solid #E8E8E8;
    }
    a{
      display:block;
      word-break: keep-all;
    }
    &::after{
      content:'';
      display:block;
      position:absolute;
      top:50%;
      right:0;
      transform:translateY(-50%);
      width:get-vw(16px);
      height:get-vw(16px);
      background:url('/images/ico_arrow_black.png') no-repeat 50% 50%;
      background-size:cover;
    }
    &.prev::after{
      transform:translateY(-50%) rotate(-180deg);
    }
  }
}

/* 하단버튼 */
.btn-area{
  margin-top:get-vw(24px);
  text-align: center;
  a, button{
    display:inline-block;
  }
}
.btn-p{
  display:inline-block;
  width:100%;
  height:get-vw(52px);
  background:#00498C;
  text-align: center;
  line-height: get-vw(52px);
  font-weight:700;
  span{
    color: #FFFFFF;
    font-size: inherit;
    font-weight:inherit;
  }
}
@media all and (min-width: 961px){
  .bbs_detail{
    margin-top:40px;
    .top{
      margin-top:15px;
      .info{
        display:flex;
        div + div{
          margin-left:50px;
        }
      }
      span, em{
        font-size:16px;
      }
    }
    .bbs-view-content{
      padding:60px 0 60px;
      font-size:18px;
      img{
        width:auto;
        height:auto;
      }
    }
  }
  .bbs-more{
    li{
      display:flex;
      justify-content: left;
      align-items: center;
      position:relative;
      padding:28px 60px 28px 0;
      + li {
        border-top:1px solid #E8E8E8;
      }
      span{
        display:inline-block;
        flex-shrink: 0;
        width:120px;
        color:#777777;
        text-align: center;
      }
      a{
        font-size:18px;
      }
      &::after{
        width:16px;
        height:16px;
        right:30px;
      }
    }
  }
  .btn-area{
    margin-top:50px;
  }
  .btn-p{
    width:312px;
    height:60px;
    line-height:60px;
    span{
      font-size:17px;
    }
  }
}

/* 다운로드 리스트 */
.download-list{
  li{
    + li {
      margin-top:get-vw(12px);
    }
    .inner{
      display:block;
      position: relative;
      height:get-vw(160px);
      padding:get-vw(22px) get-vw(24px);
      border:1px solid #E8E8E8;
      &:after{
        content:'';
        display:block;
        position:absolute;
        right:0;
        bottom:0;
        width:get-vw(125px);
        height:get-vw(130px);
        background: url('/images/bg_download_cont.png') no-repeat 50% 50%;
        background-size:cover;
      }
    }
    .number{
      display:block;
      margin-bottom:5px;
      font-size:get-vw(14px);
      color:#ABABAB;
    }
    .tit{
      font-weight:500;
      font-size: get-vw(16px);
      word-break: keep-all;
      color:#0D0D0D;
    }
    .btn-download{
      position:absolute;
      bottom:get-vw(22px);
      left:get-vw(24px);
    }
  }
}
.btn-download{
  height: get-vw(22px);
  font-size:get-vw(13px);
  color:#454545;
  &::before{
    content:'';
    display:inline-block;
    width:get-vw(18px);
    height:get-vw(18px);
    margin-right:get-vw(8px);
    background:url('/images/ico_download.png') no-repeat 50% 50%;
    background-size:cover;
    vertical-align: bottom;
  }
}
@media all and (min-width: 961px){
  .download-list{
    ul{
      margin:-16px;
      font-size:0;
    }
    li{
      display:inline-block;
      width:25%;
      padding:16px;
      vertical-align: top;
      + li {
        margin-top:0;
      }
      &:hover{
        padding:15px;
        a{
          border:2px solid #08A2DC;
          .btn-download{
            color:#08A2DC;
            font-weight:700;
          }
        }
      }
      .inner{
        position: relative;
        height:276px;
        padding:30px 36px 32px;
        &:after{
          width:160px;
          height:170px;
        }
      }
      .number{
        margin-bottom:5px;
        font-size:14px;
      }
      .tit{
        font-size:18px;
      }
      .btn-download{
        position:absolute;
        bottom:32px;
        left:36px;
      }
    }
  }
  .btn-download{
    height: 24px;
    font-size:14px;
    &::before{
      content:'';
      display:inline-block;
      width:18px;
      height:18px;
      margin-right:8px;
    }
  }
}

/* 3depth tab */
.tab{
  display:flex;
  justify-content: center;
  margin:get-vw(12px) get-vw(-16px) get-vw(22px);
  li{
    margin:0 get-vw(8px);
    a{
      position:relative;
      display:inline-block;
      padding-bottom:get-vw(20px);
      font-size:get-vw(14px);
      color:#08A2DC;
      &.active{
        font-weight:700;
        &::after{
          display:block;
        }
      }
      &::after{
        content:'';
        position: absolute;
        display:none;
        bottom:0;
        left:50%;
        transform:translateX(-50%);
        width:get-vw(16px);
        height:get-vw(16px);
        background: url('/images/ico_arrow_blue.png') no-repeat 50% 50%;
        background-size: cover;
      }
    }
  }
}

/* 재무재표 */
.tbl-title-area{
  min-height:30px;
  margin-bottom:10px;
  .tit{
    font-weight: 500;
    font-size:get-vw(22px);
    color:#0D0D0D;
  }
  .tbl-util{
    float:right;
    position:relative;
    top:get-vw(14px);
    font-size:get-vw(13px);
    color:#777;
  }
  &::after{
    content:'';
    display:block;
    clear:both;
  }
}
.tbl-finance-wrap{
  border-top:2px solid #0D0D0D;
  & + .tbl-title-area{
    margin-top:get-vw(50px);
  }
  .tbl-finance{
    & + .tbl-finance{
      border-top:1px solid #0D0D0D;
    }
    th, td{
      padding:get-vw(15px) get-vw(16px);
      border-bottom:1px solid #E8E8E8;
      color:#0D0D0D;
      &.txtc-skyblue {
        color:#08A2DC;
      }
    }
    th{
      text-align:left;
    }
    td{
      text-align:right;
    }
    tfoot, thead{
      th, td {
        background:rgba(239, 246, 252, 0.5);
        font-weight:700;
      }
      .total{
        th, td{
          background:rgba(0, 73, 140, 1);
          color:#FFF;
          &.txtc-skyblue{
            color:#8CE0FF;
          }
        }
      }
    }
  }
}
@media all and (min-width: 961px){
  .tab{
    margin:20px -16px 0;
    li{
      margin:0 8px;
      a{
        padding-bottom:20px;
        font-size:18px;
        &::after{
          width:16px;
          height:16px;
        }
      }
    }
  }

  .tbl-title-area{
    margin-bottom:12px;
    .tit{
      font-size:28px;
    }
    .tbl-util{
      top:24px;
      font-size:14px;
    }
  }
  .tbl-finance-wrap{
    & + .tbl-title-area{
      margin-top:100px;
    }
    .tbl-finance{
      th, td{
        padding:20px;
      }
    }
  }
}
/* 애경가치 */
.founded-story{
  position:relative;
  text-align:center;
  .desc{
    .caption{
      font-size:get-vw(19px);
    }
    p{
      margin-top:get-vw(9px);
      font-weight:400;
      color:#454545;
      & + p{
        margin-top:get-vw(14px);
      }
    }
  }
  .ak-cally{
    width:100%;
    height:auto;
    margin-top:get-vw(32px);
    text-align:right;
    img{
      width:get-vw(243px);
      height:100%;
    }
  }
}
.core-value{
  position: relative;
  padding-bottom:get-vw(50px);
  .visual{
    height: get-vw(400px);
    background-image:url(/images/img_core_value_m.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size:cover;
    .tit{
      display:block;
      padding-top: get-vw(50px);
      text-align: center;
      font-weight: 700;
      font-size:get-vw(24px);
      color:#00498C;
    }
  }
  .core-value-list{
    position:relative;
    margin:0 get-vw(24px);
    margin-top:get-vw(-172px);
    li{
      position: relative;
      padding:get-vw(20px) get-vw(18px) get-vw(24px) calc(get-vw(18px) + get-vw(65px));
      background:rgba(0, 69, 135, 0.92);
      backdrop-filter: blur(20px);
      color:#FFFFFF;
      & + li::before{
        content:'';
        display:block;
        position: absolute;
        top:0;
        left:get-vw(18px);
        width:calc(100% - get-vw(36px));
        height:1px;
        background:#EFF6FC;
        opacity: 0.2;
      }
      &::after{
        content:'';
        display:block;
        position:absolute;
        top:get-vw(20px);
        left:get-vw(24px);
        width:get-vw(50px);
        height:get-vw(50px);
      }
      &.clean{
        height:get-vw(172px);
        padding-top:get-vw(26px);
      }
      &.clean::after{
        background:url("/images/ico_value_clean.png") no-repeat 50% 50%;
        background-size:cover;
      }
      &.trust::after{
        background:url("/images/ico_value_trust.png") no-repeat 50% 50%;
        background-size:cover;
      }
      &.innovation::after{
        background:url("/images/ico_value_innovation.png") no-repeat 50% 50%;
        background-size:cover;
      }
      &.challenge::after{
        background:url("/images/ico_value_challenge.png") no-repeat 50% 50%;
        background-size:cover;
      }
      .tit{
        font-weight: 500;
        font-size:get-vw(19px);
      }
      .desc{
        margin-top:get-vw(5px);
        font-size:get-vw(14px);
        line-height:1.57;
      }
    }
  }
}
@media all and (min-width: 961px){
  .founded-story{
    display:flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    padding-top:0;
    text-align:left;
    .desc{
      margin-left:33px;
      .caption{
        font-size:24px;
      }
      p{
        margin-top:16px;
        font-size:18px;
        & + p{
          margin-top:16px;
        }
      }
    }
    .ak-cally{
      width:567.65px;
      height:auto;
      margin-top:0;
      text-align:left;
      img{
        width:100%;
        height:auto;
      }
    }
  }
  .core-value{
    padding-bottom:100px;
    .visual{
      height: 600px;
      background-image:url(/images/img_core_value.png);
      .tit{
        display:block;
        padding-top: 80px;
        font-size:36px;
      }
    }
    .core-value-list{
      display:flex;
      position:relative;
      max-width:1200px;
      height:310px;
      margin:-155px auto 0;
      li{
        position: relative;
        width:25%;
        padding:118px 0 42px;
        text-align: center;
        & + li::before{
          top:auto;
          bottom:42px;
          left:0;
          width:1px;
          height:104px;
        }
        &::after{
          content:'';
          display:block;
          position:absolute;
          top:40px;
          left:50%;
          width:72px;
          height:72px;
          transform: translateX(-50%);
        }
        &.clean{
          height:auto;
          padding-top:118px;
        }
        &.clean::after{
          background:url("/images/ico_value_clean.png") no-repeat 50% 50%;
          background-size:cover;
        }
        &.trust::after{
          background:url("/images/ico_value_trust.png") no-repeat 50% 50%;
          background-size:cover;
        }
        &.innovation::after{
          background:url("/images/ico_value_innovation.png") no-repeat 50% 50%;
          background-size:cover;
        }
        &.challenge::after{
          background:url("/images/ico_value_challenge.png") no-repeat 50% 50%;
          background-size:cover;
        }
        .tit{
          font-weight: 500;
          font-size:24px;
        }
        .desc{
          margin-top:get-vw(5px);
          font-size:16px;
        }
      }
    }
  }
}

@media all and (min-width: 961px) and (max-width:1320px) {
  .core-value{
    .core-value-list{
      width:100%;
      padding:0 48px;
      li{
        padding:118px 20px 42px;
        .desc{
          word-break: keep-all;
        }
        br{
          display:none;
        }
      }
    }
  }
}
.quotes{
  display:block;
  margin:get-vw(20px) 0;
  font-size:0;
  text-align:center;
  img{
    width:get-vw(14px);
    height:auto;
  }
}
.sub-desc{
  font-size:get-vw(19px);
  color:#0D0D0D;
  text-align: center;
  letter-spacing: -0.03em;
}
.ak-value-list{
  margin-top:get-vw(20px);
  li{
    text-align:center;
    &+li{
      margin-top:get-vw(12px);
    }
    .img-wrap{
      display:block;
      img{
        width:100%;
        height:auto;
      }
    }
    .inner{
      border:1px solid #E8E8E8;
      border-top:none;
      padding:get-vw(24px) get-vw(20px) get-vw(28px);
    }
    .tit{
      font-weight:500;
      font-size:get-vw(19px);
    }
    .desc{
      margin-top:get-vw(8px);
      font-size:(14px);
      color:#777;
    }
  }
  /* esg 경영목표 */
  &.goal{
    position: relative;
    padding-bottom:get-vw(77px);
    &::before{
      content:'';
      display: block;
      position: absolute;
      bottom:get-vw(35px);
      left:50%;
      transform: translateX(-50%);
      width:1px;
      height:get-vw(40px);
      background: #E8E8E8;
      z-index: -1;
    }
    &::after{
      content:'';
      display: block;
      position: absolute;
      bottom:0;
      left:50%;
      transform: translateX(-50%);
      width:get-vw(37px);
      height:get-vw(37px);
      background:url("/images/ico_arrow_o_down.png") no-repeat 50% 50%;
      background-size: cover;
    }
    li{
      position: relative;
      &::after{
        content:'';
        display: block;
        position: absolute;
        bottom:0;
        left:50%;
        transform: translateX(-50%) translateY(50%);
        width:get-vw(7px);
        height:get-vw(7px);
        background: #ABABAB;
        border-radius:50%;
      }
      & + li::before{
        content:'';
        display: block;
        position: absolute;
        top:get-vw(-10px);
        left:50%;
        transform: translateX(-50%);
        width:1px;
        height:get-vw(10px);
        background: #E8E8E8;
        z-index: -1;
      }
    }
  }
}
.esg-reflection{
  position: relative;
  padding:0 get-vw(24px);
  text-align: center;
  &::before{
    content: '';
    display: block;
    position: absolute;
    top:get-vw(256px);
    bottom:0;
    left:0;
    right:0;
    background: url("/images/bg_vision_mo.png") no-repeat 50% 50%;
    background-size: cover;
    z-index: -1;
  }
  .cont_tit{
    font-weight:700;
    font-size:get-vw(22px);
    color:#00498C;
  }
  .ak-value-list{
    li{
      .inner{
        border:none;
        background: rgba(0, 69, 135, 0.85);
        backdrop-filter: blur(20px);
        color:#FFFFFF;
        .desc{
          color:#FFFFFF;
        }
      }
    }
  }
  .tk-arboria{
    margin-top:get-vw(40px);
    padding-bottom:get-vw(56px);
    font-weight:300;
    font-size:get-vw(52px);
    line-height:1;
    color:#FFFFFF;
    em{
      font-family: "arboria",sans-serif;
      font-size:get-vw(52px);
      font-weight:700;
    }
  }
}
@media all and (min-width: 961px) {
  .quotes{
    margin:40px 0 20px;
    img{
      width:17px;
    }
  }
  .sub-desc{
    font-size:24px;
  }
  .ak-value-list{
    display:flex;
    margin:25px -15px;
    li{
      width:33.33%;
      padding:15px;
      &+li{
        margin-top:0;
      }
      .inner{
        padding:28px 20px 40px;
      }
      .tit{
        font-size:24px;
      }
      .desc{
        margin-top:8px;
        font-size:16px;
      }
    }
    /* esg 경영목표 */
    &.goal{
      position: relative;
      padding-bottom:142px;
      &::before{
        content:'';
        bottom:0;
        left:50%;
        transform:translateX(-50%);
        width:100%;
        height:161px;
        background: url("/images/img_diagram_arrow.png") no-repeat 50% 100%;
        z-index:1;
      }
      &::after{
        content:none;
      }
      li{
        position: relative;
        &::after{
          content:none;
        }
        & + li::before{
          content:none;
        }
      }
    }
  }
  .esg-reflection{
    position: relative;
    overflow: hidden;
    width:100%;
    margin:-107px auto 0;
    padding:0;
    text-align: center;
    &::before{
      content: '';
      display: block;
      position: absolute;
      top:auto;
      bottom:0;
      left:50%;
      transform: translateX(-50%);
      right:auto;
      width:1920px;
      height:448px;
      background: url("/images/bg_vision_pc.png") no-repeat 50% 50%;
      background-size: cover;
      z-index: -1;
    }
    .cont_tit{
      font-size:32px;
    }
    .ak-value-list{
      width:1200px;
      margin:25px auto 0;
      &.reflection{

      }
    }
    .tk-arboria{
      margin-top:80px;
      padding-bottom:96px;
      font-weight:300;
      font-size:74px;
      line-height:1;
      color:#FFFFFF;
      em{
        font-family: "arboria",sans-serif;
        font-size:inherit;
        font-weight:700;
      }
    }
  }
}

.value-talent{
  .visual-wrap{
    width:100%;
    height:get-vw(170px);
    padding-top:get-vw(55px);
    padding-left:get-vw(24px);
    background:url("/images/bg_talent.png") no-repeat 50% 50%;
    background-size: cover;
    span{
      display:block;
      width:get-vw(133px);
      height:get-vw(66px);
      img{
        width:100%;
        height:auto;
      }
    }
  }
  .desc-wrap{
    text-align:center;
    .quotes{
      margin:get-vw(40px) 0 get-vw(20px);
    }
    .tit{
      font-size:get-vw(19px);
      color:#00498C
    }
    p{
      margin-top:get-vw(15px);
      font-size:get-vw(16px);
      color:#454545;
    }
  }
}
@media all and (min-width: 961px) {
  .value-talent{
    position:relative;
    .visual-wrap{
      height:580px;
      padding-top:80px;
      padding-left:80px;
      span{
        width:334px;
        height:166px;
      }
    }
    .desc-wrap{
      position: absolute;
      bottom:70px;
      left:80px;
      text-align:left;
      .quotes{
        margin:0 0 12px;
        filter: brightness(50);
        text-align:left;
      }
      .tit{
        font-size:24px;
        color:#FFFFFF;
      }
      p{
        margin-top:16px;
        font-size:18px;
        color:#FFFFFF;
        opacity: 0.55;
      }
    }
  }
}
.intro-ci{
  position: relative;
  text-align:center;
  .tit-wrap{
    .desc{
      margin-top:get-vw(20px);
      color:#454545;
    }
  }
  .ci-wrap{
    margin-top:get-vw(28px);
    .symbol{
      display:block;
      width:100%;
      height:get-vw(190px);
      padding:get-vw(30px) 0;
      border:1px solid #E8E8E8;
      text-align: center;
      img{
        width:auto;
        height:100%;
      }
    }
    .symbol-size{
      display:block;
      width:100%;
      height:auto;
      margin-top:get-vw(5px);
      img{
        width:100%;
        height:auto;
        &.mo{
          display: block;
        }
        &.pc{
          display: none;
        }
      }
    }
    .comment{
      margin-top:get-vw(5px);
      font-size:get-vw(13px);
      color:#777777;
      text-align: left;
    }
  }
  .download-wrap{
    margin-top: get-vw(28px);
    li + li{
      margin:get-vw(5px) 0 0;
    }
    .btn-download{
      display:block;
      position:relative;
      width:100%;
      height:get-vw(52px);
      line-height:get-vw(52px);
      padding-left:get-vw(28px);
      border:1px solid rgba(0, 73, 140, 0.8);
      font-weight:700;
      font-size:get-vw(15px);
      color:#00498C;
      text-align: left;
      &::before {
        content: "";
        display: inline-block;
        position:absolute;
        top:50%;
        right:get-vw(36px);
        transform: translateY(-50%);
        width: get-vw(18px);
        height: get-vw(18px);
        margin-right:0;
        background:url(/images/ico_download_blue.png) no-repeat 50% 50%;
        background-size: cover;
      }
    }
  }
}
@media all and (min-width: 961px) {
  .intro-ci{
    display:flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    text-align:left;
    .tit-wrap{
      margin-left:65px;
      .cont_tit{
        text-align:left;
      }
      .desc{
        margin-top:20px;
        font-size:18px;
      }
    }
    .ci-wrap{
      width:551px;
      margin-top:0;
      .symbol{
        height:360px;
        padding:63px 0 57px;
      }
      .symbol-size{
        margin-top:5px;
        .pc{
            display:block;
          }
       .mo{
          display:none;
        }
      }
      .comment{
        margin-top:5px;
        font-size:14px;
      }
    }
    .download-wrap{
      display:flex;
      justify-content: flex-start;
      position:absolute;
      bottom:25px;
      right:0;
      margin-top:0;
      li + li{
        margin:0 0 0 12px;
      }
      .btn-download{
        width:286px;
        height:60px;
        line-height:60px;
        padding-left:25px;
        border:1px solid rgba(0, 73, 140, 0.8);
        font-weight:700;
        font-size:17px;
        color:#00498C;
        text-align: left;
        &::before {
          top:50%;
          right:25px;
          transform: translateY(-50%);
          width:18px;
          height:18px;
          margin-right:0;
          background:url(/images/ico_download_blue.png) no-repeat 50% 50%;
          background-size: cover;
        }
        &:hover{
          background:#00498C;
          color:#FFFFFF;
          &::before{
            filter:brightness(30);
          }
        }
      }
    }
  }
}
.ceo-message{
  text-align: center;
  .cont_tit{
    padding:get-vw(45px) get-vw(24px) 0;
    font-weight:300;
    font-size:get-vw(20px);
    letter-spacing: -0.03em;
    em{
      font-weight:700;
      font-size:inherit;
    }
  }
  .ceo-img-wrap{
    position:relative;
    width:100%;
    height:auto;
    margin-top:get-vw(40px);
    &::after{
      content:'';
      display:block;
      position: absolute;
      top:calc(50% - get-vw(10px));
      left:0;
      right:0;
      bottom:0;
      background: #F3F4F6;
      z-index:-1;
    }
    .img-wrap{
      display: block;
      width:get-vw(190px);
      margin:0 auto;
      img{
        width:100%;
        height:auto;
      }
    }
    .name{
      margin-top:get-vw(10px);
      font-size:get-vw(14px);
      em{
        margin:0 4px;
        font-weight:700;
        font-size:get-vw(16px);
      }
    }
  }
  .desc{
    position:relative;
    padding:get-vw(73px) get-vw(24px) get-vw(50px);
    background-color:#F3F4F6;
    font-size:get-vw(16px);
    color:#454545;
    text-align:left;
    &::before{
      content: '';
      display:block;
      position:absolute;
      top:get-vw(45px);
      left:get-vw(24px);
      right:get-vw(24px);
      border-top:1px solid #0D0D0D;
    }
  }
}
.message-list{
  padding:get-vw(50px) get-vw(17px) get-vw(50px) get-vw(24px);
  li + li{
    margin-top:get-vw(30px);
  }
  .tit{
    font-weight: 500;
    font-size:get-vw(19px);
    color:#00498C;
  }
  .desc{
    font-size:get-vw(16px);
    color:#454545;
    word-break: keep-all;
  }
}
.catchphrase{
  width:100%;
  padding:get-vw(55px) 0;
  text-align: center;
  background: #00498C;
  img{
    width:get-vw(182px);
    height:auto;
  }
}
@media all and (min-width: 961px) {
  .ceo-message{
    position: relative;
    width:1200px;
    margin:80px auto 0;
    text-align: left;
    .cont_tit{
      padding:0;
      font-size:36px;
    }
    .ceo-img-wrap{
      position:absolute;
      width:345px;
      height:470px;
      margin-top:0;
      top:0;
      right:0;
      &::after{
        content:'';
        display:block;
        position: absolute;
        top:35px;
        left:35px;
        right:0;
        bottom:0;
        background: #F3F4F6;
        z-index:-1;
      }
      .img-wrap{
        display: block;
        width:310px;
        margin:0;
        img{
          width:100%;
          height:auto;
        }
      }
      .name{
        margin-top:8px;
        padding-right:30px;
        font-size:16px;
        text-align: right;
        em{
          font-size:18px;
        }
      }
    }
    .desc{
      position:relative;
      padding:81px 0 0;
      background-color:transparent;
      font-size:18px;
      color:#454545;
      text-align:left;
      &::before{
        content: '';
        display:block;
        position:absolute;
        top:40px;
        left:0;
        right:auto;
        width:92px;
        border-top:1px solid #0D0D0D;
      }
    }
  }
  .message-list{
    padding:100px 0;
    margin-top:114px;
    background:#F3F4F6;
    ul{
      position: relative;
      width:1200px;
      margin:0 auto;
      &:after{
        content:'';
        display:block;
        position: absolute;
        top:-100px;
        bottom:-100px;
        left:226px;
        border-left:1px solid #E8E8E8;
      }
    }
    li{
      display:flex;
      position: relative;
      justify-content: flex-start;
      &::before{
        content:'';
        display:block;
        position: absolute;
        top:14px;
        left:224px;
        width:5px;
        height:5px;
        border-radius: 50%;
        background: #00498C;
        z-index: 2;
      }
    }
    li + li{
      margin-top:80px;
    }
    .tit{
      display:block;
      flex-shrink: 0;
      width:226px;
      font-weight: 500;
      font-size:24px;
      color:#00498C;
    }
    .desc{
      padding-left:42px;
      font-size:18px;
      color:#454545;
      word-break: keep-all;
    }
  }
  .catchphrase{
    padding:100px 0;
    img{
      width:598px;
      height:auto;
    }
  }
}
.contact-ir{
  text-align:left;
  .inner{
    width:get-vw(312px);
    height:get-vw(170vw);
    padding:get-vw(66px) get-vw(20px) 0;
    background:url("/images/img_ir_contact.png") no-repeat 50% 50%;
    background-size: cover;
    .quotes{
      margin:0;
      margin-bottom:get-vw(10px);
      text-align: left;
    }
    .desc{
      font-size:get-vw(15px);
    }
  }
  .ir-phone{
    li{
      display:flex;
      justify-content: space-between;
      align-items: center;
      height:get-vw(62px);
      border-bottom:1px solid #E8E8E8;
      .tit{
        font-weight:700;
        font-size:get-vw(14px);
        color:#08A2DC;
      }
      .number{
        a {
          font-weight:700;
          font-size:get-vw(20px);
          color:#00498C;
        }
      }
    }
  }
}
@media all and (min-width: 961px) {
  .contact-ir{
    position: relative;
    .inner{
      width:100%;
      height:500px;
      padding:135px 80px 0;
      .quotes{
        margin:0;
        margin-bottom:12px;
        text-align: left;
      }
      .desc{
        font-weight:300;
        font-size:24px;
      }
    }
    .ir-phone{
      display:flex;
      position: absolute;
      bottom:70px;
      left:80px;
      li{
        display:block;
        width:280px;
        height:170px;
        padding:28px 0 0 36px;
        border-bottom:none;
        background: #FFFFFF;
        .tit{
          display:block;
          font-size:16px;
        }
        .number{
          a {
            display:block;
            margin-top:48px;
            font-size:33px;
          }
        }
        & + li{
          margin-left:5px;
        }
      }
    }
  }
}
.esg-level-wrap{
  .esg-mark-wrap{
    text-align:center;
    & + .esg-mark-wrap{
      margin-top:get-vw(50px);
      padding-top:get-vw(50px);
      border-top:1px solid #E8E8E8;
    }
    .desc{
      display:inline-block;
      margin-top:get-vw(6px);
      font-size:get-vw(13px);
      color:#777777;
    }
    .esg-mark{
      width:get-vw(92px);
      span{
        display:block;
        margin-top:get-vw(4px);
        font-weight:700;
        font-size:get-vw(15px);
      }
      img{
        width:100%;
        height:auto;
      }
      &.total{
        width:get-vw(140px);
        margin:get-vw(28px) auto 0;
        span{
          margin-top:get-vw(6px);
          color:#002856;
        }
      }
      &.env{
        span{
          color:#72B91D;
        }
      }
      &.social{
        span{
          color:#00BCB5;
        }
      }
      &.gov{
        span{
          color:#009ADE;
        }
      }
    }
    .esg-mark-list{
      display:flex;
      justify-content: space-between;
      margin-top:get-vw(20px);
    }
  }
}
@media all and (min-width: 961px) {
  .esg-level-wrap{
    display:flex;
    .esg-mark-wrap{
      width:50%;
      padding-right:85px;
      & + .esg-mark-wrap{
        margin-top:0;
        padding-top:0;
        padding-right:0;
        padding-left:85px;
        border-top:none;
        border-left:1px solid #E8E8E8;
      }
      .desc{
        margin-top:8px;
        font-size:14px;
      }
      .esg-mark{
        width:133px;
        span{
          display:block;
          margin-top:7px;
          font-size:17px;
        }
        &.total{
          width:163px;
          margin-top:40px;
          span{
            margin-top:9px;
          }
        }
      }
      .esg-mark-list{
        display:flex;
        justify-content: space-between;
        margin-top:40px;
      }
    }
  }
}
.tbl-scrollable{
  position: relative;
  overflow-x:scroll;
  width:100%;
  .tbl-governance{
    width:650px;
    thead{
      tr:last-child{
        th{
          border-top:1px solid #0D0D0D;
        }
      }
    }
    th, td{
      font-size:get-vw(14px);
      color:#0D0D0D;
      vertical-align: middle;
    }
    th{
      padding:get-vw(8px) 0 get-vw(11px);
      border-top:2px solid #0D0D0D;
      border-bottom:1px solid #0D0D0D;
      font-weight:500;
      text-align:center;
    }
    td{
      padding:get-vw(14px) get-vw(16px) get-vw(15px);
      border-bottom:1px solid #E8E8E8;
      border-left:1px solid #E8E8E8;
      text-align: left;
      &:first-child{
        border-left:none;
      }
      &.al-r{
        text-align:right;
      }
      &.al-c{
        text-align: center;
      }
    }
    .detail{
      td{
        background: rgba(243, 244, 246, 0.5);
        color:#777777;
        &:first-child{
          padding-left:get-vw(30px);
        }
      }
    }
    &.voting{
      width:1130px;
    }
  }
  & + .cont_tit{
    margin-top:get-vw(50px);
    margin-bottom:get-vw(20px);
  }
  .drag-noti{
    display:block;
    position: absolute;
    top:50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
    width:get-vw(120px);
    height:get-vw(120px);
    img{
      width:100%;
      height:100%;
    }
  }
}
.notice-list{
  margin-top:get-vw(12px);
  font-size:get-vw(13px);
  color:#777777;
  li{
    padding-left:get-vw(33px);
    font-size:inherit;
    text-indent: get-vw(-33px);
    word-break: keep-all;
  }
}
.bod-composition{
  padding:get-vw(50px) get-vw(24px);
  background:#EFF6FC;
  .cont_tit{
    display:block;
    text-align: center;
    font-size:get-vw(22px);
    font-weight:700;
  }
  .desc{
    margin-top:get-vw(12px);
    font-size:get-vw(16px);
    color:#454545;
    text-align: center;
  }
  .bod-list{
    margin-top:get-vw(24px);
    li{
      display:flex;
      justify-content: space-between;
      padding:get-vw(20px) 0 get-vw(22px) get-vw(20px);
      background: #FFFFFF;
      & + li {
        margin-top:get-vw(5px);
      }
      .value{
        font-weight:700;
        font-size:get-vw(13px);
        color:#08A2DC;
      }
      .name{
        width:get-vw(192px);
        em, span{
          display:block;
          font-weight:500;
          color:#454545;
        }
        em{
          font-size:(22px);
        }
        span{
          font-size:get-vw(14px);
          &.date{
            margin-top:get-vw(20px);
            padding-top:get-vw(7px);
            border-top:2px solid #EFF6FC;
            font-weight:400;
            color:#777777;
          }
        }
      }
    }
  }
  .btn-list{
    margin-top:get-vw(22px);
    li{
      & + li{
        margin-top:get-vw(5px);
      }
      .btn-more{
        display:block;
        position: relative;
        padding:get-vw(14px) get-vw(28px);
        border:1px solid #00498C;
        font-weight:700;
        font-size:get-vw(15px);
        color:#00498C;
        &::after{
          content: '+';
          display: block;
          position: absolute;
          top:50%;
          right:get-vw(28px);
          transform: translateY(-50%);
          font-size:get-vw(22px);
          font-weight:400;
        }
      }
    }
  }
}
@media all and (min-width: 961px) {
  .tbl-title-area{
    & + .tbl-scrollable{
      padding-top:6px;
    }
  }
  .tbl-scrollable{
    overflow-x:auto;
    width:100%;
    .tbl-governance{
      width:100%;
      th, td{
        font-size:16px;
      }
      th{
        padding:12px 0 13px;
      }
      td{
        padding:21px 20px 20px;
      }
      .detail{
        td{
          &:first-child{
            padding-left:40px;
          }
        }
      }
      &.voting{
        width:100%;
      }
    }
    & + .cont_tit{
      margin-top:100px;
      margin-bottom:40px;
    }
    .drag-noti{
      display:none;
    }
  }
  .notice-list{
    margin-top:20px;
    font-size:14px;
    li{
      padding-left:34px;
      text-indent: -34px;
    }
  }
  .bod-composition{
    padding:100px 0 80px;
    background:#EFF6FC;
    .cont_tit{
      font-size:32px;
    }
    .desc{
      margin-top:16px;
      font-size:18px;
    }
    .bod-list{
      width:1200px;
      margin:40px auto 0;
      text-align: center;
      font-size:0;
      li{
        display:inline-block;
        width:293px;
        height:294px;
        padding:32px 0 36px 30px;
        text-align: left;
        & + li {
          margin:4px;
        }
        &:first-child{
          margin:4px 4px 4px 0;
        }
        .value{
          font-size:16px;
        }
        .name{
          width:100%;
          margin-top:86px;
          em{
            font-size:28px;
          }
          span{
            font-size:16px;
            &.date{
              margin-top:14px;
              padding-top:14px;
            }
          }
        }
      }
    }
    .btn-list{
      width:898px;
      margin:50px auto 0;
      li{
        display:inline-block;
        width:293px;
        & + li{
          margin-top:0;
          margin-left:4px;
        }
        .btn-more{
          padding:17px 25px;
          font-size:17px;
          &::after{
            content: '+';
            display: block;
            position: absolute;
            top:50%;
            right:24px;
            transform: translateY(-50%);
            font-size:24px;
          }
          &:hover{
            border:none;
            background:#00498C;
            color:#FFFFFF;
          }
        }
      }
    }
  }
}

/* 연혁 */
.history-cont{
  &.fix {
    padding-top: get-vw(60px);
    .history-tab{
      position: fixed;
      top: get-vw(64px);
      width: 100%;
      z-index: 8;
      background-color: #fff;
    }
  }
  .history-tab{
    position: relative;
    &::after{
      content:'';
      display: block;
      position: absolute;
      top:get-vw(20px);
      right:get-vw(22px);
      width:get-vw(16px);
      height:get-vw(16px);
      background: url("/images/ico_arrow_s_dwon_blue.png") no-repeat 50% 50%;
      background-size: cover;
      transition: all 0.3s ease-out;
      z-index:1;
    }
    .selected-tab{
      position: relative;
      display: flex;
      justify-content: space-between;
      width:100%;
      height:get-vw(60px);
      padding:0 get-vw(50px) 0 get-vw(33px);
      &::before{
        content: '';
        display:block;
        position: absolute;
        bottom: 0;
        left:0;
        right:0;
        height:4px;
        background:linear-gradient(180deg, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0) 100%);
      }
      li{
        position: relative;
        padding:get-vw(18px) get-vw(8px) get-vw(16px);
        flex-shrink: 0;
        &:first-child{
          padding-left:0;
        }
        &::before{
          content: '';
          display: inline-block;
          width:get-vw(5px);
          height:get-vw(5px);
          border-radius: 50%;
          background: #E8E8E8;
          vertical-align: middle;
        }
        span{
          overflow: hidden;
          font-size: 0;
          line-height:1;
          vertical-align: middle;
        }
        &.active{
          &::before{
            background: #00498C;
          }
          span{
            overflow: visible;
            margin-left:get-vw(12px);
            margin-right:get-vw(18px);
            font-size:get-vw(14px);
            font-weight:700;
            color:#00498C;
          }
        }
      }
    }
    .select-tab{
      display:none;
      position:absolute;
      top:0;
      width:100%;
      height:auto;
      padding:get-vw(15px) get-vw(33px) get-vw(24px);
      background:#FFFFFF;
      z-index: 1;
      li{
        & + li{
          margin-top:get-vw(14px);
        }
        a{
          font-size:get-vw(14px);
          color:#ABABAB;
          &::before{
            content:'';
            display:inline-block;
            margin-right:12px;
            width:get-vw(5px);
            height:get-vw(5px);
            border-radius: 50%;
            background: #E8E8E8;
            vertical-align: middle;
          }
        }
        &.active{
          a{
            font-weight:700;
            color:#00498C;
          }
        }
      }
    }
    &.active{
      &::after{
        transform: rotate(180deg);
      }
      .select-tab{
        display:block;
        &::before{
          content: '';
          display:block;
          position: absolute;
          bottom: 0;
          left:0;
          right:0;
          height:4px;
          background:linear-gradient(180deg, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0) 100%);
        }
      }
    }
  }
  .history-wrap{
    padding:get-vw(24px) get-vw(24px) get-vw(50px);
    .year-wrap{
      position: relative;
      padding-left:get-vw(40px);
      padding-bottom:get-vw(52px);
      &:last-child{
        padding-bottom:0;
      }
      &::before, &::after{
        content:'';
        display:block;
        position: absolute;
      }
      &::before{
        top:get-vw(4px);
        left:0;
        width:get-vw(25px);
        height:get-vw(25px);
        background: url("/images/ico_history_close.png") no-repeat 50% 50%;
        background-size: cover;
      }
      &.active{
        &::before{
          background: url("/images/ico_history_open.png") no-repeat 50% 50%;
        }
      }
      &::after{
        top:get-vw(4px);
        left:get-vw(12.5px);
        width:1px;
        height:100%;
        background:#E8E8E8;
        z-index:-1;
      }
      .year{
        font-weight:700;
        font-size:get-vw(24px);
        color:#00498C;
      }
      ul{
        margin-top:get-vw(17px);
      }
      li{
        position: relative;
        display:flex;
        justify-content: flex-start;
        & + li{
          margin-top:get-vw(15px);
        }
        &::before{
          content: '';
          display:block;
          position: absolute;
          top:get-vw(7px);
          left:get-vw(-29.5px);
          width:get-vw(5px);
          height:get-vw(5px);
          border-radius: 50%;
          background: #00498C;
        }
      }
      .month{
        flex-shrink: 0;
        font-weight: 700;
        font-size:get-vw(16px);
        color:#08A2DC;
      }
      .desc{
        margin-left:get-vw(8px);
        p{
          font-size:get-vw(15px);
          color:#454545;
          word-break: keep-all;
          & + * {
            margin-top:get-vw(10px);
          }
        }
        .img{
          width:100%;
          font-size:0;
          img{
           width:100%;
            height:auto;
          }
          & + * {
            margin-top:get-vw(10px);
          }
        }
      }
      &.active{
        .year::after{
          content:'자세히보기';
          display:inline-block;
          margin-left:get-vw(10px);
          font-size:get-vw(13px);
          font-weight:500;
          color:inherit;
          vertical-align: middle;
        }
        ul{
          overflow: hidden;
          height:0;
          margin:0;
          transition: height 0.3s;
        }
      }
    }
  }
}
@media all and (min-width: 961px) {
  /* 연혁 */
  .history-cont{
    display:flex;
    justify-content: space-between;
    padding:80px 0 100px;
    width:1200px;
    margin:0 auto;
    &.fix {
      padding-top: 0;
      .history-tab{
        position: relative;
        top: 0;
        width: auto;
        z-index: 1;
        background-color: transparent;
      }
    }
    .history-tab{
      position: relative;
      &::after{
        content:none;
      }
      .selected-tab{
        display:none;
      }
      .select-tab{
        display:block;
        position:relative;
        width:120px;
        height:auto;
        padding:0;
        background:transparent;
        &.fix {
          position: fixed;
          top: 92px;
        }
        li{
          & + li{
            margin-top:20px;
          }
          a{
            font-size:16px;
            &::before{
              content:'';
              display:inline-block;
              width:5px;
              height:5px;
            }
          }
          &.active, &:hover{
            a{
              font-weight:700;
              color:#00498C;
              &::before{
                background: #00498C;
              }
            }
          }
        }
      }
    }
    .history-wrap{
      padding:0;
      margin-left:120px;
      .year-wrap{
        position: relative;
        padding-left:173px;
        padding-bottom:80px;
        &:last-child{
          padding-bottom:0;
        }
        &::before, &::after{
          content:'';
          display:block;
          position: absolute;
        }
        &::before{
          top:0;
          left:118px;
          width:25px;
          height:25px;
        }
        &::after{
          top:0;
          left:130px;
          width:1px;
          height:100%;
          background:#E8E8E8;
          z-index:-1;
        }
        .year{
          position: absolute;
          top:-13px;
          left:0;
          font-size:36px;
        }
        ul{
          margin-top:0;
        }
        li{
          & + li{
            margin-top:20px;
          }
          &::before{
            content: '';
            display:block;
            position: absolute;
            top:10px;
            left:-45px;
            width:5px;
            height:5px;
          }
          &:first-child{
            &::before{
              content:none;
            }
          }
        }
        .month{
          font-size:18px;
        }
        .desc{
          margin-left:20px;
          p{
            font-size:18px;
            & + * {
              margin-top:6px;
            }
          }
          .img{
            width:100%;
            font-size:0;
            img{
              width:100%;
              height:auto;
            }
            & + * {
              margin-top:6px;
            }
          }
        }
        &.active{
          .year::after{
            font-size:15px;
            margin-left:88px;
          }
        }
      }
    }
  }
}
