/* variables */
@use "sass:math";

$font-size:         14px;

$ak-primary: 		#FFCC00 !default;
$ak-secondary:      #2E2E2E !default;
$ak-success: 		#00D014 !default;
$ak-info: 			#484848 !default;
$ak-warning: 		#FFB70F !default;
$ak-danger: 		#FF3739 !default;
$ak-default: 		#F4F4F4 !default;
$ak-disabled: 		#AAA !default;
$ak-cancel: 		#FF5D29 !default;
$ak-ipt-cancel: 	#FF5D29 !default;